[Unit]
Description=autossh
Wants=network-online.target
After=network-online.target

[Service]
User=autossh
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 \
                           -o "ServerAliveInterval 30" \
                           -o "ServerAliveCountMax 3" \
                           -i /home/autossh/.ssh/$name \
                           -NR $port:localhost:22 $name@$server \
                           -p $serverSSHPort
Restart=always
RestartSec=10min

[Install]
WantedBy=multi-user.target